nav {
    background-color: #5fd5fb;
    height: 75px;

    .navbar-brand {
        img {
            height: 50px;
        }
    }

    ul.navbar-nav li.nav-item > a {
        color: #fff;

        &:hover {
            color: #8d3b92;
        }
    }

    span.social {
        width: 20px;
        display: inline-block;
        text-align: right;
    }
}