nav {
    background-color: #8d3b92;

    .navbar-brand {
        img {
            height: 65px;
        }
    }

    ul.navbar-nav li.nav-item a {
        color: #fff;
    }
}

.card-img {
    cursor: pointer;
    position: relative;

    .size {
        position: absolute;
        color: #fff;
        left: 0;
        right: 0;
        bottom: -2.5em;
        opacity: 0;
        text-align: center;
        transition: ease-in .5s;
    }

    &:hover .size {
        opacity: 1;
    }
    
    &:hover img {
        box-shadow: 0px 0px 40px 5px #8d3b92;
    }

    .name {
        color: #ec298f;
    }
}

button.custom-dimension {
    cursor: pointer;
    background-color: #8d3b92;
    border-color: #8d3b92;
    color: #fff;

    &:hover {
        opacity: .75;
    }
}

input.input_width,
input.input_height {
    width: 100px;
}

a.go-back {
    cursor: pointer;
}