<div class="row">
  <nav class="w-100 my-3 nav nav-pills nav-justified flex-column">
    <a class="rounded-0 nav-link" href="#">Banners</a>
    <a class="rounded-0 nav-link" href="#">Text</a>
    <a class="rounded-0 nav-link" href="#">Background</a>
    <a class="rounded-0 nav-link" href="#">Photos</a>
    <a class="rounded-0 nav-link" href="#">Box Layers</a>
    <a class="rounded-0 nav-link" href="#">Listings</a>
    <a class="rounded-0 nav-link" href="#">Grids</a>
    <a class="rounded-0 nav-link" href="#">Widgets</a>
    <a class="rounded-0 nav-link" href="#">Elements</a>
    <a class="rounded-0 nav-link" href="#">Templates</a>
  </nav>
</div>