.nav-pills {
    a {
        margin-bottom: 0.3em;
        border-top: 1px solid #de5f3b;
        border-bottom: 1px solid #de5f3b;

        &:hover {
            background-color: #de5f3b;
            color: #fff;
        }
    }
}