<div class="row py-3">
  <div class="col-auto"><a class="btn">colorpicker</a></div>
  <div class="col-auto"><a class="btn">font-size</a></div>
  <div class="col-auto"><a class="btn">font-family</a></div>
  <div class="col-auto"><a class="btn">background-color</a></div>
  <div class="col-auto"><a class="btn">font-color</a></div>
  <div class="col-auto"><a class="btn">underline</a></div>
  <div class="col-auto"><a class="btn">italic</a></div>
  <div class="col-auto"><a class="btn">and more</a></div>
</div>