.row {
    background-color: #334059;
}
a.btn {
    cursor: pointer;
    margin: auto;
    background-color: rgba(36, 47, 66, 0.5);
    color: #fff;
    font-size: .85em;
    border-radius: 20px;

    &:hover {
        color: #fff;
        background-color: #8d3b92;
    }
}